
@{
    ViewBag.Title = "Home Page";
}
<div class="row" style="margin-top: 80px;">
    <div class="col-lg-8 col-lg-offset-2">
        <legend>Log In</legend>
        <form c1ass="well" action="@Url.Action("Login")" method="post">

            <legend><small>Username</small></legend>

            <input type="text" name="username" value="" class="form-control" />
            <br /><br />


            <legend><small>Password</small></legend>
            <input type="password" name="password" value="" class="form-control" />

            <br /><br />

            <label>Token</label>
            <input class="form-control" name="token" type="text" />
            <br />
            <br />

            <input type="submit" name="" value="Log In" class="btn btn-primary" />
        </form>

    </div>
</div>